# Python
*.pyc
__pycache__/

# Pipenv
Pipfile.lock

# JetBrains
.idea/

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/tests/fixtures/**/*.egg-info
/dist/*
build
_build
.cache
*.so

# App
FreeSmileysBot/config\.json
FreeSmileysBot/test\.py
FreeSmileysBot/dynamic_data\.json
log.txt
log.txt.*

*.env
